astroid==3.2.4
black==24.8.0
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
dill==0.3.8
fonttools==4.53.1
importlib_resources==6.4.4
isort==5.13.2
kiwisolver==1.4.5
matplotlib==3.7.5
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pylint==3.2.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.1
zipp==3.20.1
